
.App {
  background-image: url("/public/fondo.png");
  background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el elemento */
  background-repeat: no-repeat; /* Evita la repetición de la imagen de fondo */
  background-attachment: fixed; /* Fija la imagen de fondo en su lugar mientras se desplaza la página */

  /* Establece el tamaño del div para cubrir toda la ventana del navegador */
  width: 100vw;
  height: 100vh;

  /* Establece márgenes y relleno a 0 para asegurarse de que el div no tenga espacio adicional */
  margin: 0;
  padding: 0;

}

.banner {
  background-image: url("/public/banner.png"); /* Color de fondo del banner */
  padding: 10px; /* Espaciado interior del banner */
  width: 98.95%;
  margin-top: 0px;
  width: 100vw;
  height: 23vh;
  }
  
  
/* Estilos para el cuadro de búsqueda */
.banner input[type="text"] {
  padding: 10px;
  width: 60%; /* Ancho del cuadro de búsqueda */
  border: none;
  border-radius: 5px;
  margin-right: 10px; /* Espacio entre el cuadro de búsqueda y el botón */
  
}

/* Estilos para el botón de búsqueda */
.boton_busqueda {
  padding: 10px 20px;
  background-color: #FFA500; /* Color de fondo del botón */
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
 }

 .banner_item_location{
  text-align: center;
  margin-top: -1px;
}

/* Estilos para la lista de navegación */
.banner nav ul {
  list-style: none;
  padding: 0;
  margin: 100;
  bottom: 0;
  left: 0;
}

/* Estilos para los elementos de la lista de navegación */
.banner nav ul li {
  display: inline;
  margin-right: 20px; /* Espacio entre los elementos de la lista */
  font-size: 20px; /* Tamaño de la fuente */
  
}

.banner nav ul li a {
  color: #ffffff; /* Color de texto rojo por defecto */
  text-decoration: none; /* Quita la subrayado predeterminado */
}

.carrito{
  padding: 20px 25px;
  background-image: url("/public/carrito.png") ; /* Color de fondo del botón */
  background-repeat: no-repeat;
  border-radius: 5px;
  cursor: pointer;
  left: 50px;
}

.banner2 {
  height: 80%;
  padding: 0px; /* Espaciado interior del banner */
  margin-top: 0px;
  display: flex;
  
  }
.banner3 {
  display: flex;
  flex-direction: column; /* Para centrar verticalmente el contenido */
  
  align-items: center; /* Para centrar horizontalmente el contenido */
  height: 40%;
  width: 100%;
}

.columna {
  width:30%;
  float:right;
  text-align: right;
  height: 30%;
}

.columna2 {
  width:45%;
  float:none;
  position: bottom;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-end; 
  height: 80%;
    
}


.imagen {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen para que se ajuste al div */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
  height: 40vmin;
  width: 55vmin;
  pointer-events: none;
}

