.App {
  background-image: url("../images/fondo.png");
  background-size: cover;
  /* Ajusta la imagen de fondo para cubrir todo el elemento */
  background-repeat: no-repeat;
  /* Evita la repetición de la imagen de fondo */
  background-attachment: fixed;
  /* Fija la imagen de fondo en su lugar mientras se desplaza la página */

  /* Establece el tamaño del div para cubrir toda la ventana del navegador */
  /* width: 100vw;*/
  height: auto;
  width: auto;

  /* Establece márgenes y relleno a 0 para asegurarse de que el div no tenga espacio adicional */
 


}



.div {
  height: auto;
  width: 100%;
  display: flex;
  
  justify-content: center;
  align-items: center;
  
  

}

.text{
  
  display: flex;
  margin-left: 10px;
  height: auto;
  width: auto;
}
 

.logo{
  display: flex;
  height: auto;
  width: auto;
  margin-right: 5px;
  margin-left: 100px;
  
}

.carro{
  display: flex;
  height: auto;
  width: auto;
  
  margin-left: 500px;
  
}

@media (max-width: 1024px) {
  .text {
      display: flex;
      flex-direction: column;
      margin-left: 0px;
      margin-top: 20px;
   
  }
}

@media (max-width: 1024px) {
  .logo {
      display: flex;
      flex-direction: column;
      margin-left: 0px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 0px;
   
  }
}
@media (max-width: 1024px) {
  .carro {
      display: flex;
      flex-direction: column;
      margin-left: 0px;
      margin-top: 20px;
   
  }
}



.carrusel{
  display: flex;
  
  justify-content: center;
  align-items: center;
  
}

@media (max-width: 480px) {
  .App {
    height: 100%;
  width: 100%;
  }
}
