.Carrito{
    border: none;
    
   

}

.Boton{
    background-color: transparent;
    border: none;
    position: relative;
    left: 1800px;
    bottom: 60px; 
}

.Image{
    width: 75px;
    height: auto; 
}