
ul {
    list-style-type: none; 
    padding: 0; /* Elimina el padding predeterminado */
    margin: 0; /* Elimina el margen predeterminado */
    display: flex; /* Establece la disposición en línea */
    
    
}

/* Estiliza cada elemento de la lista */
li {
    margin-right: 20px; /* Añade un margen a la derecha para separar los elementos */
}

/* Estiliza cada enlace dentro de la lista */
li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: white; /* Cambia el color del texto a blanco */
    font-size: 20px;
}


li a:hover {
    color: #ccc; /* Cambia el color del enlace al pasar el ratón por encima */
}



.Text{
   
    display: flex;
    align-items: flex-end;
}