.SearchBox{
    padding: 5px;
    width: 100%; /* Ancho del cuadro de búsqueda */
    border: none;
    border-radius: 10px;
    margin-right: 100px; /* Espacio entre el cuadro de búsqueda y el botón */
    position:relative;
    left: 720px;
    top: 32px;
   
}

.Boton_busqueda{

    padding: 5px;
    width: 80px;
    background-color: #FFA500; /* Color de fondo del botón */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    position:relative;
    left: 1100px;
    bottom: 2px;

}

.Contenedor{
    position: relative;
    


}