.SearchBox{
    padding: 100px;
     width: 60%; /* Ancho del cuadro de búsqueda */
     border: none;
     border-radius: 50px;
    margin-right: 100px; /* Espacio entre el cuadro de búsqueda y el botón */
    position: relative;
}